@import './base.css';

#app {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

p {
  margin: 0;
}
li {
  list-style-type: none;
}

button {
  all: unset; /* 移除所有默认样式 */
  display: inline-block; /* 保持按钮的块级显示特性 */
  cursor: pointer; /* 鼠标移到按钮上时显示指针 */
}

.container {
  margin-bottom: 10px;
  padding: 0;
  display: flex;
  align-items: center; /* 垂直居中对齐 */
}
.block-container {
  display: inline;
}
.flex-container {
  display: flex; /* 使用Flexbox布局 */
  justify-content: center; /* 水平居中对齐 */
  align-items: center; /* 垂直居中对齐 */
}
.board-text {
  font-size: 12px;
  font-weight: bold;
}
/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
